In [54]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [61]:
df=pd.read_csv('train.csv')

In [62]:
from sklearn.linear_model import LogisticRegression
m = LogisticRegression()
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [63]:
X_train.shape

(668, 4)

In [64]:
X_train

     Pclass     Sex Embarked    Age
298       1    male        S    NaN
884       3    male        S  25.00
247       2  female        S  24.00
478       3    male        S  22.00
305       1    male        S   0.92
..      ...     ...      ...    ...
106       3  female        S  21.00
270       1    male        S    NaN
860       3    male        S  41.00
435       1  female        S  14.00
102       1    male        S  21.00

[668 rows x 4 columns]

In [50]:
X_train.isna().sum()

Pclass        0
Sex           0
Embarked      2
Age         132
dtype: int64

In [51]:
X_train.describe()

           Pclass         Age
count  668.000000  536.000000
mean     2.333832   29.421343
std      0.823707   14.526010
min      1.000000    0.420000
25%      2.000000   20.750000
50%      3.000000   28.000000
75%      3.000000   38.000000
max      3.000000   80.000000