In [59]:
# 1. run this code to create a DataFrame
import pandas as pd

df = pd.DataFrame({'shop1': range(8), 
                   'shop2': range(10, 50, 5),
                   'location': ['BER'] * 4 + ['HAM'] * 4},
                  index=list("ABCDEFGH"))
print(df)

   shop1  shop2 location
A      0     10      BER
B      1     15      BER
C      2     20      BER
D      3     25      BER
E      4     30      HAM
F      5     35      HAM
G      6     40      HAM
H      7     45      HAM

In [60]:
# 2. Now simplify the following pieces of code
#    so that the result is equivalent
#    - run the code
#    - inspect the result
#    - replace it by a pandas function (one line should be enough)

# 2.1
# for i, row in df.iterrows():
#     if row['location'] == 'BER':
#         df.loc[i, 'location'] = 'Berlin'
#     if row['location'] == 'HAM':
#         df.loc[i, 'location'] = 'Hamburg'
df['location'].replace({"BER":"Berlin","HAM":"Hamburg"})   ##Rep
df

   shop1  shop2 location
A      0     10      BER
B      1     15      BER
C      2     20      BER
D      3     25      BER
E      4     30      HAM
F      5     35      HAM
G      6     40      HAM
H      7     45      HAM

In [63]:
# 2.2
# result = []
# for i, row in df.iterrows():
#     if row['shop2'] > 20:
#         result.append(i)
df.loc[result]

filt=df.shop[['shop2']> 20]
df.loc[filt]

df.loc[df["shop2"]>20]

AttributeError: 'DataFrame' object has no attribute 'shop'

In [64]:
# 2.3
result = []
for i, row in df.iterrows():
    total =  row['shop1'] + row['shop2']
    result.append(total)
result


# df.sum(axis=1)   #ignoring all the columns which dont contain numbers , sums up row by row

# df["shop1"] +df["shop2"]   ##Pandas can add columns together and does the looping implicitly for is

A    10
B    16
C    22
D    28
E    34
F    40
G    46
H    52
dtype: int64

In [65]:

# 2.4  Calculates the averages for two subsets, contains values for each of the cities and calculates a seperate mean --> groupby
subsets = {}
for i, row in df.iterrows():
    if row['location'] not in subsets:
        subsets[row['location']] = []
    subsets[row['location']].append(row['shop1'])
for loc in subsets:
    avg = sum(subsets[loc]) / len(subsets[loc])
    print(loc, avg)
    
    #df.set_index('location')['shop1'].groupby('location'),mean()

BER 1.5
HAM 5.5