# Data Round-Trip

In [2]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [3]:
countries = pd.read_csv('large_countries_2015.csv', index_col=0)
df=pd.DataFrame(countries)

## Excel

* Write the data into an Excel file
* Read the data again

In [12]:
df.to_excel("countries.xlsx", sheet_name="2015") 
df2=pd.read_excel("countries.xlsx")

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [19]:
df.to_json("countries.json") 
df3=pd.read_json("countries.json")

## SQL

Install the library SQLAlchemy:

In [13]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (1.3.13)

Create a connection to a new SQLite database:

In [29]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')
# df.to_sql("Countries2015",db)
pd.read_sql("Countries2015", db)

            index    population  fertility      continent
0      Bangladesh  1.609956e+08       2.12           Asia
1          Brazil  2.078475e+08       1.78  South America
2           China  1.376049e+09       1.57           Asia
3           India  1.311051e+09       2.43           Asia
4       Indonesia  2.575638e+08       2.28           Asia
5           Japan  1.265735e+08       1.45           Asia
6          Mexico  1.270172e+08       2.13  North America
7         Nigeria  1.822020e+08       5.89         Africa
8        Pakistan  1.889249e+08       3.04           Asia
9     Philippines  1.006994e+08       2.98           Asia
10         Russia  1.434569e+08       1.61         Europe
11  United States  3.217736e+08       1.97  North America

* Write the data into the database
* Read it again

*Dont worry if you've never used SQL before / if this is completely new to you. We will cover it extensively in the course starting with the basics!*